build/
build-*/
*.o
*.obj
*.lo
*.slo
*.lai
*.la
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.gch
*.pch
*.dwo
*.d
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
compile_commands.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.log
vix.log
text.md
cmd.md
text.txt
cmd.txt
scripts/changelog-release.sh
scripts/update_changelog.sh
build-ref/
build-rel/
hello_server
/hello_world/
*.bak
db.sql
revoir.md
main.cpp
.vix-scripts



